@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
