@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.delay-1000 {
  animation-delay: 1s;
}